/*
  --- 01 Typography System

  - Font Weights
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

  - Line heights 
  Default: 1

  - Letter Spacing
  -0.5px
  0.75px


  --- 02 Colors

  Primary: #e67e22
 - Tints:  #fdf2e9
 - Shades: #cf711f
 - Accents:
 - Greys: #555 #333

 --- 05 Shadows

 --- 06 Border Radius

 --- 07 WhiteSpace

 - Spacing Items
 2 / 4 / 8 / 12 / 16/ 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px(what user asked) = 0.625 = 62.5% */
  /* Percecntage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* *********************************************************** */
/* General resuable Componenst */
/* *********************************************************** */

.container {
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 0 3.2rem; */
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  
}

.heading-secondary {
  color: #333037;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  color: #333037;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;
  /* Put transition on origianl state */
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #5271FF;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #5272ffe7;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  transition: box-shadow 0.5s;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick */
  box-shadow: inset 0 0 0 3px #333;
}

.btn--form {
  background-color: #5271FF;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

*:focus {
  outline: none;
  /* outline: 2px dotted #cf711f; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.6rem rgba(82, 114, 255, 0.527);
}

/*SEtting Classes*/

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-sd {
  margin-bottom: 3.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.zoom-image {
    /* width: 100%; Ensures the image takes up the full width of the container  */
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.zoom-image:hover {
    transform: scale(1.1); /* Zooms the image to 110% of its original size */
}