/*

  COLORS FOR ARTMETAL
  #5271FF
  #333037
  #F6BF3E

--- 01 Typography System

  - Font Weights
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

  - Line heights 
  Default: 1

  - Letter Spacing
  -0.5px
  0.75px


  --- 02 Colors

  Primary: #e67e22
 - Tints:  #fdf2e9
 - Shades: #cf711f
 - Accents:
 - Greys: #555 #333

 --- 05 Shadows

 --- 06 Border Radius

 --- 07 WhiteSpace

 - Spacing Items
 2 / 4 / 8 / 12 / 16/ 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* *********************************************************** */
/* Header */
/* *********************************************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 191, 62);
  position: relative;

  /* Becuase we want to be sticky later */
  height: 9.6rem;
  padding: 0 6.4rem;
}

.logo {
  height: 8.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333037;

  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #5271ff;
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 1.6rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* Menu navigation for mobile */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* *********************************************************** */
/* Sticky section */
/* *********************************************************** */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(246, 191, 62, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* *********************************************************** */
/* Hero section */
/* *********************************************************** */

.section-hero {
  background-color: rgb(51, 48, 55);
  background-image: linear-gradient(to right bottom, rgba(51, 48, 55, 0.856), rgba(82, 114, 255, 0.589));
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.hero-text-box{
  animation: 1s ease-out 0s 1 slideInFromLeft;
  
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #fff;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.hero-img-box-mainpage {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 0.8rem;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%;
    background-image: linear-gradient(#f6bf3ef7, #377af5);

    animation: rotate 15s linear infinite;
  }

}

.hero-img {
  width: 100%;
  border-radius: 5px;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/* *********************************************************** */
/* Featured in section */
/* *********************************************************** */

.section-featured {
  padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* *********************************************************** */
/* How it workds section */
/* *********************************************************** */

.section-how {
  padding: 9.6rem 0;
  grid-template-columns: repeat(2, 1fr);  
}

.step-text-box{
  opacity: 0;
  transition: 1s ease-in-out;
}

.step-text-box.show{
  opacity: 1;
}

.step-number {
  font-size: 4.8rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
  
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.step-img-box.show{
  opacity: 1;
}

.step-img {
  height: 300px;
  width: 400px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;

}

.services {
  list-style: none;
  font-size: 1.6rem;
  line-height: 1.8;
}

/* CTA section */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 0.24rem 4.8rem rgba(0, 0, 0, 0.25);
  border-radius: 11px;

  background-image: linear-gradient(
    to right bottom,
    #f6bf3e,
    rgb(226, 130, 45)
  );
  overflow: hidden;
}

.cta-text-box {
  padding: 3.2rem;
  color: #45260a;
}

.cta .heading-secondary {
  /* color: #5271ff; */
  color: inherit;
  margin-bottom: 3.2rem;
  text-align: center;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  /* background-image: linear-gradient(
      to right bottom,
      #f6bf3e8f,
      rgba(230, 125, 34, 0)
    ), */
  background-image: url("../img/contatti.webp");
  background-size: cover;
  background-position: right 70% bottom 45%;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.7rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  /* outline: 2px dotted #cf711f; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.514);
}

textarea {
  width: 100%;
  height: 12rem;
  padding: 1.2rem;
  font-size: 1.7rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  resize: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #f6bf3e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Footer section */

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #ddd;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.footer-heading-link {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  text-decoration: none;
  color: inherit;
}

.footer-logo {
  display: block;
  margin-bottom: 1.6rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #5271ff;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.contacts {
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.4;
}

.contacts p {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #5271ff;
  text-decoration: underline;
}

.footer-heading-link:link,
.footer-heading-link:visited {
  text-decoration: none;
  transition: all 0.3s;
}

.footer-heading-link:hover,
.footer-heading-link:active {
  color: #5271ff;
  text-decoration: underline;
}
